.detailService {
  background-color: #F5F5F5;
  display: flex;
}
.detailService__layout {
  flex-grow:1;
}
.detailService__title {
  padding:0 30px;
  color:#FF7506;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom:32px;
}
.detailService__content {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap:20px;
  height: 70vh;
  margin:16px 0 16px 30px;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}
/* CONTENT LEFT */
.detailService__content__left {
  grid-column: 1 / span 2;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 12px;
}
.detailService__content__title {
  color: #FF7506;
  margin-bottom: 20px;
}
.detailService__infor__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom:20px;
}
.detailService__item__value {
  grid-column: 2 / span 2;
  color: #535261;
}
.detailService__rulesNumber {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.detailService__content__title {
  grid-column: 1 / span 3;
}
.detailService__rulesNumber__items {
  display: grid;
  grid-column: 1 / span 3;
}
.detailService__rulesNumber__input {
  grid-column: 2 / span 2;
}
/* CONTENT RIGHT */
.detailService__content__right {
  grid-column: 3 / span 5;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
}
.detailService__function {
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}
.detailService__func__title {
  margin-bottom:10px;
}
.detailService__searchbar {
  display: flex;
  align-items: center;
}
.detailService__searchbar input {
  padding:10px;
  color: #7E7D88;
  border-radius: 8px 0 0 8px;
  border:1px solid #D4D4D7;
  border-right: none;
  height: 52px;
  width: 150px;
  font-size: 16px;
}
.detailService__searchbar button {
  height: 52px;
  width: 40px;
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  border:1px solid #D4D4D7;
  border-left: none;
}
.detailService__searchbar button:active {
  background-color: #FFF2E7;
  color: #FF7506;
}
.detailService__table {
  width: 100%;
  height: 80%;
}
.detailService__rulesNumber__items {
  align-items: center;
  margin-bottom:10px;
}
.detailService__rulesNumber__items span {
  margin: 0 10px;
}
.detailService__rulesNumber__input {
  display: flex;
  align-items: center;
}
.detailService__rulesNumber__input input {
  padding: 10px 12px;
  background: #FFFFFF;
  border: 1.5px solid #D4D4D7;
  box-sizing: border-box;
  border-radius: 8px;
  width: 60px;
}
/* DIRECTION BUTTONS  */
.detailService__directionButton{
  grid-column: 8/ span 1;
}
.detailService__updateList {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  padding:15px;
  background-color: #FFF2E7;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px 0px 0px 8px;
}
.detailService__return {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  padding:15px;
  background-color: #FFF2E7;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px 0px 0px 8px;
}
.detailService__updateList a {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.detailService__return a {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.detailService__btn a {
  background-color: #FFF2E7;
  color: #FF7506;
  text-decoration: none;
}