.home {
    display:flex;
    background-color:#F5F5F5 ;
    width:100%;
}
.home-layout {
    flex-grow: 1;
}
.dashboardContent{
    display:flex;
}
.title {
    color:#FF7506;
}
.middle-content {
    padding: 0 30px;
    width: 100%;
}
.right-content {
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

