.dropdown__addEquipment {
  width: 760px;
  height: 44px;
  position: relative;
  user-select: none;
  border:1px solid #D4D4D7;
  border-radius: 8px;
  background-color: #fff;

}
.dropdown__addEquipment__btn {
  padding: 10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color: #7E7D88;
}

.dropdown__addEquipment__content {
  position:absolute;
  width: 100%;
  border:1px solid #D4D4D7;
  border-radius: 8px;
  z-index: 999;
  background-color: #fff;
}
.dropdown__addEquipment__item {
  padding: 10px;
  transition: all 0.2s;
  color: #7E7D88;
}
.dropdown__addEquipment__item:hover {
  background-color:#FFF2E7;
  border-radius: 8px;
}